###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
# Ignore auto generated api documentation - this is automatically pushed to the documentation page via github actions.
/**/api/*.yml
/**/api/.manifest
_site
